.form-control:focus, .form-select:focus {
    border-color: orange;
    box-shadow: 0 0 0 0.2rem rgba(255, 123, 0, 0.25);
} 

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  background-color: orange !important;
  border: white !important;
}

button:hover {
  background-color: rgb(235, 152, 0) !important;
}

@media print {
  #print {
    width: 100% !important;
  }
}